<template>
  <div id="app">
    <div class="header">
      <span class="title">Budziol</span>
      <span class="subtitle">AWS Lambda based content aware image scaling</span>
    </div>
    <div class="wrapper">
      <ImgPicker/>
      <ImgProcess/>
      <ImgPresent/>
    </div>
    <div class="footer">
      <a class="footer-item" href="https://gitlab.com/budziol">
        <div class="font-transition fab fa-gitlab"></div>
      </a>
      <a class="footer-item" @click="showInfo">
        <div class="font-transition fas fa-question-circle"></div>
      </a>
    </div>
  </div>
</template>

<script>
  import ImgPicker from './components/ImgPicker.vue'
  import ImgProcess from './components/ImgProcess.vue'
  import ImgPresent from './components/ImgPresent.vue'

  export default {
    name: 'App',
    components: {
      ImgPicker,
      ImgProcess,
      ImgPresent
    },
    methods: {
      showInfo() {
        this.$toasted.show(`
        <div class="info-toast">
          Miscellaneous info about Budziol:
          <ul>
            <li>Image scaling can take up to 5 minutes to process</li>
            <li>Notification (if you accept them) will let you know once image is ready</li>
            <li>It is possible to process multiple images at once</li>
            <li>Processed images are stored for 2 days</li>
            <li>Speedup option reduces size to 1200/1200px max</li>
            <li>Budziol uses <a style="color: #FF530D" href="https://github.com/esimov/caire">Caire</a> to scale images</li>
            <li>For full Budziol code click on Gitlab logo</li>
          </ul>
        </div>
        `, {
          action: {
            text : 'CLOSE',
            onClick : (e, toastObject) => {
              toastObject.goAway(0);
            }
          },
          duration: null,
          position: 'bottom-center',
          closeOnSwipe: false
        })
      }
    },
    created() {
      if ('Notification' in window) {
        Notification.requestPermission();
      }
    }
  }
</script>

<style>
  .info-toast {
    max-height: 50vh;
    overflow-y: auto;
  }

  #app {
    font-weight: bold;
    font-size: large;
    text-align: center;
    color: #EFEFEF;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  body {
    font-family: "Open Sans SemiBold", Helvetica, Arial, sans-serif;
    background-color: #2B3A42;
    margin: 0;
  }

  .wrapper {
    font-family: "Open Sans SemiBold", Helvetica, Arial, sans-serif;
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .header {
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;

    margin-top: 1.5rem;
    margin-bottom: 2rem;
    border-bottom: .25rem dashed rgba(255, 83, 13, 0.5);
  }

  .title {
    font-size: 3rem;
    color: #EFEFEF;
    font-family: "Open Sans ExtraBold", Helvetica, Arial, sans-serif;
  }

  .subtitle {
    font-size: 1.5rem;
    color: #EFEFEF;
    margin-bottom: 1rem;
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: center;

    font-family: FontAwesome;
    font-size: 2rem;

    border-top: .25rem dashed rgba(255, 83, 13, 0.5);
  }

  .footer-item {
    margin: 2rem 1rem 1.5rem;
    text-decoration: none;
  }

  .font-transition {
    transition: color 0.25s ease;
    color: #EFEFEF;
  }

  .font-transition:hover {
    color: #FF530D;
  }

  .noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
  }

</style>
